.header {
  display: flex;
  background-color: #1d1d1f;
  flex: 1;
  flex-direction: row;
}

.headerItem {
  flex: 1;
  color: white;
  font-size: x-large;
  padding: 10px;
  text-decoration: none;
}
